* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
  font-style: normal;
}
@media (min-width: 300px) {
  .header {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0 auto;
    align-items: center;
  }
}
@media (min-width: 600px) {
  .header {
    margin-top: 24px;
    display: flex;
    flex-direction: row;

    justify-content: space-around;
  }
}
@media (min-width: 300px) {
  .hero-section {
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 136px;
  }
}
@media (min-width: 600px) {
  .hero-section {
    flex-direction: row;
  }
}
.left {
  display: flex;
  aspect-ratio: 1/1;
  align-items: center;
  justify-content: center;
}
.box {
  width: 12px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  background-color: rgba(2, 44, 34, 1);
}
.circle {
  background-color: rgba(190, 242, 100, 1);
  width: 8px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.left_content {
  aspect-ratio: 592/430;
}

.left_content_heading {
  font-weight: 400;
  margin-bottom: 32px;
  font-size: 95px;
}

.right {
  background-color: rgba(190, 242, 100, 1);
  aspect-ratio: 1/1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo_container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 112px 96px;
}
@media (min-width: 300px) {
  .logo_container_heading {
    text-align: center;
  }
}

@media (min-width: 600px) {
  .logo_container_heading {
    text-align: left;
  }
}

@media (min-width: 300px) {
  .logos_img_container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    align-items: center;
  }
}

@media (min-width: 800px) {
  .logos_img_container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .logos_img_container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.green_dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgba(190, 242, 100, 1);
}
#solutions_section {
  background-color: #fff7ed;
  border-radius: 24px;
  padding-right: 96px;
  padding-left: 96px;
}
.solutions_section_card {
  max-width: 592px;
  margin-top: 64px;
  width: 100%;
}
@media (min-width: 300px) {
  .solutions_section_card_container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 32px;
  }
}

@media (min-width: 600px) {
  .solutions_section_card_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 300px) {
  #about_us_section {
    display: grid;
    padding: 104px 112px;
    grid-template-columns: 1fr;
    gap: 32px;
  }
}
@media (min-width: 800px) {
  #about_us_section {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 300px) {
  .statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 78px 112px;
    gap: 32px;
  }
}
@media (min-width: 800px) {
  .statistics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}
@media (min-width: 1200px) {
  .statistics {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.statistics_item {
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}
.team_card {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.team_card_image_container {
  background-color: rgba(190, 242, 100, 1);
  width: 100%;
  max-width: 152px;
  border-radius: 12px;
  aspect-ratio: 1/1;
  padding: 4px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 300px) {
  .team_card_container {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 40px;
    gap: 32px;
  }
}
@media (min-width: 800px) {
  .team_card_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .team_card_container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.team_card_image_container_image_imagecontainer {
  border-radius: 50%;
  aspect-ratio: 1/1;
  overflow: hidden;
}
.team_card_image_container_image {
  object-fit: contain;
  width: 100%;
}
.blog {
  padding: 112px 104px;
  width: 100%;
}
@media (min-width: 300px) {
  .blog_head {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 600px) {
  .blog_head {
    flex-direction: row;
  }
}
@media (min-width: 300px) {
  .blog_content_container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
  }
}
@media (min-width: 1200px) {
  .blog_content_container {
    grid-template-columns: 3fr 2fr;
  }
}

@media (min-width: 300px) {
  .blog_big_area {
    display: flex;
    flex-direction: column;
    padding: 0px;
    height: fit-content;
  }
}
@media (min-width: 300px) {
  .blog_small_area {
    width: 100%;
    height: fit-content;
  }
}

@media (min-width: 300px) {
  .blog_small_area_person_container {
    margin-top: 24px;
    font-size: 14px;
    gap: 16px;
    width: fit-content;
    display: flex;
    align-items: center;
  }
}
@media (min-width: 600px) {
  .blog_small_area_person_container {
    display: flex;
    align-items: center;
    text-wrap: nowrap;
  }
}
@media (min-width: 300px) {
  .blog_small_area_card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 600px) {
  .blog_small_area_card {
    flex-direction: row;
  }
}
@media (min-width: 300px) {
  .blog_small_area_card_container {
    display: grid;
    margin-bottom: 32px;
    flex-direction: column;
    padding: 0px;
    width: 100%;

    /* background-color: red; */
  }
}
@media (min-width: 600px) {
  .blog_small_area_card_container {
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }
}
