* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
  font-style: normal;
}
/* header { */
/* width: 100%; */
/* } */
@media (min-width: 300px) {
  .header {
    display: flex;
    align-items: center;
    padding: 24px;
    flex-direction: column;
    /* display: grid; */
    /* grid-template-rows: 1fr 1fr 1fr; */
    margin: 0 auto;
    gap: 30px;
  }
}
@media (min-width: 675px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1000px) {
  .header {
    align-items: normal;
  }
}
@media (min-width: 300px) {
  .hero-section {
    margin: 0 auto;
    padding: 0 50px;
    max-width: 1440px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 136px;
  }
}
@media (min-width: 800px) {
  .hero-section {
    flex-direction: row;
  }
}
.left {
  display: flex;
  aspect-ratio: 1/1;
  align-items: center;
  justify-content: center;
}
.box {
  width: 12px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  background-color: rgba(2, 44, 34, 1);
}
.circle {
  background-color: rgba(190, 242, 100, 1);
  width: 8px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.left_content {
  aspect-ratio: 592/430;
}

.left_content_heading {
  font-weight: 400;
  margin-bottom: 32px;
  font-size: 95px;
}

.right {
  background-color: rgba(190, 242, 100, 1);
  aspect-ratio: 1/1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo_container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 112px 96px;
}
@media (min-width: 300px) {
  .logo_container_heading {
    text-align: center;
  }
}

@media (min-width: 600px) {
  .logo_container_heading {
    text-align: left;
  }
}

@media (min-width: 300px) {
  .logos_img_container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    align-items: center;
  }
}

@media (min-width: 800px) {
  .logos_img_container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .logos_img_container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.green_dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgba(190, 242, 100, 1);
}
#solutions_section {
  background-color: #fff7ed;
  border-radius: 24px;
  padding-right: 96px;
  padding-left: 96px;
}
.solutions_section_card {
  max-width: 592px;
  margin-top: 64px;
  width: 100%;
}
@media (min-width: 300px) {
  .solutions_section_card_container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 32px;
  }
}

@media (min-width: 600px) {
  .solutions_section_card_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 300px) {
  #about_us_section {
    display: grid;
    padding: 104px 112px;
    grid-template-columns: 1fr;
    gap: 32px;
  }
}
@media (min-width: 800px) {
  #about_us_section {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 300px) {
  .statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 78px 112px;
    gap: 32px;
  }
}
@media (min-width: 800px) {
  .statistics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}
@media (min-width: 1200px) {
  .statistics {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.statistics_item {
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}
.team_card {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.team_card_image_container {
  background-color: rgba(190, 242, 100, 1);
  width: 100%;
  max-width: 152px;
  border-radius: 12px;
  aspect-ratio: 1/1;
  padding: 4px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 300px) {
  .team_card_container {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 40px;
    gap: 32px;
  }
}
@media (min-width: 800px) {
  .team_card_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .team_card_container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.team_card_image_container_image_imagecontainer {
  border-radius: 50%;
  aspect-ratio: 1/1;
  overflow: hidden;
}
.team_card_image_container_image {
  object-fit: contain;
  width: 100%;
}
/* @media (min-width: 150px) {
  .blog {
    padding: 0;
  }
} */
@media (min-width: 500px) {
  .blog {
    padding: 112px 104px;
    width: 100%;
  }
}
@media (min-width: 300px) {
  .blog_head {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 600px) {
  .blog_head {
    flex-direction: row;
  }
}
@media (min-width: 300px) {
  .blog_content_container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
  }
}
@media (min-width: 1200px) {
  .blog_content_container {
    grid-template-columns: 4fr 3fr;
  }
}

@media (min-width: 300px) {
  .blog_big_area {
    display: flex;
    flex-direction: column;
    padding: 0px;
    height: fit-content;
  }
}
@media (min-width: 300px) {
  .blog_small_area {
    width: 100%;
    height: fit-content;
  }
}

@media (min-width: 300px) {
  .blog_small_area_person_container {
    margin-top: 24px;
    font-size: 14px;
    gap: 16px;
    width: 100%;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media (min-width: 600px) {
  .blog_small_area_person_container {
    display: flex;
    align-items: center;
    text-wrap: nowrap;
  }
}
@media (min-width: 300px) {
  .blog_small_area_card {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
@media (min-width: 600px) {
  .blog_small_area_card {
    flex-direction: row;
  }
}

@media (min-width: 300px) {
  .blog_small_area_card_container {
    display: flex;
    margin-bottom: 32px;
    padding: 0px;
    align-items: center;
    width: 100%;
    flex-direction: column;
  }
}
@media (min-width: 500px) {
  .blog_small_area_card_container {
    flex-direction: row;
    align-items: normal;
  }
}
@media (min-width: 600px) {
  .blog_small_area_card_container {
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }
}
.blog_small_area_card_container_image {
  width: 40%;
}
.textincontainer {
  width: 100%;
}
@media (min-width: 300px) {
  .contact_container {
    display: grid;
    grid-template-columns: 1fr;
    color: white;
    gap: 35px;
    place-items: center;
    padding: 64px 96px;
  }
}
@media (min-width: 300px) {
  .contact_heading {
    font-size: 31px;
    margin-bottom: 10px;
  }
}

@media (min-width: 300px) {
  .input_container {
    display: flex;
  }
}
@media (min-width: 600px) {
  .input_container {
    gap: 8px;
    width: 50%;
    width: 70%;
  }
}
@media (min-width: 1200px) {
  .input_container {
    width: 100%;
  }
}
input::placeholder {
  padding: 16px 20px;
}
@media (min-width: 1200px) {
  .contact_heading {
    font-size: 62px;
  }
  .contact_container {
    padding: 64px 96px;
    align-items: center;
    grid-template-columns: 3fr 2fr;
    gap: 136px;
  }
}
@media (min-width: 300px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
  }
}

@media (min-width: 1200px) {
  footer {
    align-items: normal;
    flex-direction: row;
    justify-content: space-around;
  }
}
.footer_contact {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: fit-content;
  font-size: 16px;
}
@media (min-width: 300px) {
  .footer_middile_content {
    font-size: 16px;
    color: #646a69;
    display: flex;
    gap: 32px;
    flex-direction: column;
  }
}
@media (min-width: 600px) {
  .footer_middile_content {
    flex-direction: row;
  }
}
.fmone,
.fmtwo,
.fmthree {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.fmheading {
  font-weight: medium;
  color: black;
}
