* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
  font-style: normal;
}
@media (min-width: 300px) {
  .header {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0 auto;
    align-items: center;
  }
}
@media (min-width: 600px) {
  .header {
    margin-top: 24px;
    display: flex;
    flex-direction: row;

    justify-content: space-around;
  }
}
@media (min-width: 300px) {
  .hero-section {
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 136px;
  }
}
@media (min-width: 600px) {
  .hero-section {
    flex-direction: row;
  }
}
.left {
  display: flex;
  aspect-ratio: 1/1;
  align-items: center;
  justify-content: center;
}
.box {
  width: 12px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  background-color: rgba(2, 44, 34, 1);
}
.circle {
  background-color: rgba(190, 242, 100, 1);
  width: 8px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.left_content {
  aspect-ratio: 592/430;
}

.left_content_heading {
  font-weight: 400;
  margin-bottom: 32px;
  font-size: 95px;
}

.right {
  background-color: rgba(190, 242, 100, 1);
  aspect-ratio: 1/1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo_container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 112px 96px;
}
@media (min-width: 300px) {
  .logos_img_container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    align-items: center;
  }
}

@media (min-width: 800px) {
  .logos_img_container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .logos_img_container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.green_dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgba(190, 242, 100, 1);
}
#solutions_section {
  background-color: #fff7ed;
  margin: 16px 21px;
  border-radius: 24px;
  padding: 96px 64px;
}
.solutions_section_card {
  max-width: 592px;
  margin-top: 64px;
  width: 100%;
}
@media (min-width: 300px) {
  .solutions_section_card_container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
  }
}

@media (min-width: 800px) {
  .solutions_section_card_container {
    grid-template-columns: 1fr 1fr;
  }
}
